.container{
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}
nav a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

input[type="email"]{
    margin-right: 20px;
}
input[type="submit"]{
    border: 2px solid red;
}